<% @page_title = "编辑 #{@activity.title}" -%>

<% content_for :sidebar do -%>
<% end -%>

<div class="posting">
  <div class="block">
  <% form_for :activity, :url => activity_url(@activity.id), :html => {:method => :put} do |f| -%>
  <%= render :partial => "form", :object => f %>
  <p><label>&nbsp;</label><%= submit_tag "修 改" %></p>
  <% end -%>
  </div>
</div>
